<?xml version="1.0"?>
<!--
/**
 * @package     Extensions\Status
 * @author      Brian Pham <brian.pham261090@gmail.com>
 * @copyright   Copyright © 2021 Brian Pham, Inc. All Rights Reserved. *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_prepare_save">
        <observer name="custom_adminhtml_customer_prepare_save" instance="Extensions\CustomerStatus\Observer\Save"/>
    </event>
</config>
